.container__content{
    width: 100%;
    height: 100vh;
    margin-top: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.content__cover{
    display: flex;
    justify-content: center;
}

.content__cover > img{
    width: 90%;
    height: 500px;
    border-radius: 5px;
    border: 4px solid rgb(255, 255, 255);
}

.content__description {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content__description > p{
    margin-bottom: 20px;
    margin-top: 20px;
    color: rgb(141, 129, 129);
}

.content__description > a{
    padding: 5px;
    margin-bottom: 5px;

    background-color: rgb(113, 88, 128);
    border-radius:5px;

}