.container__menu-bar > ul{
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-top: 20px;
}

.container__menu-bar > ul > li{
    margin-right: 20px;
    list-style: none;
}

.container__menu-bar > ul > li > a, span{
    font-size: 20px;
    transition: ease-in-out .3s;

}

.container__menu-bar > ul > li > a:hover{
    color: blueviolet;
    transition: ease-in-out .3s;
}   