/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 

    color: white;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
    text-decoration: none;
}

body{
    background: rgb(55,26,39);
    background: -moz-linear-gradient(90deg, rgba(55,26,39,1) 25%, rgba(24,60,102,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(55,26,39,1) 25%, rgba(24,60,102,1) 100%);
    background: linear-gradient(90deg, rgba(55,26,39,1) 25%, rgba(24,60,102,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#371a27",endColorstr="#183c66",GradientType=1);  
}
